.App {
  text-align: center; 
}

canvas.activo{
  background-color: black !important;
}
.rojo{
  background-color: red; 
  border: 2px solid black;
}

.blanco{
  background-color: white;
  border: 2px solid black;
}

.azul{
  background-color: blue;
  border: 2px solid black;
}
.verde{
  background-color: green;
  border: 2px solid black; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
